<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Lists</title>

        <link rel="apple-touch-icon" href="images/tick-purple-circle.png">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
        crossorigin="anonymous">
    </head>

    <body>
        <%- include ('./partials/navbar') %>
        <div class="container">
        <div class="page-content page-container" id="page-content">
            <h1><%= listData.name %></h1>
            <form role="form" id="form_task" method="POST">
                <div class="input-group mb3">
                    <input type="hidden" id="hidden_list_id" name="list_id" value="<%= listData.id %>"> 
                    <input type="text" name="name" class="form-control" id="input_name" placeholder="Task name" aria-label="Task name">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
 
            <div class="list-group checkbox-list-group" id="tasks">   
                    <% for(var i = 0; i < tasks.length; i++) {%>  
                        <div class="list-group-item container">
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <label>
                                        <% if (tasks[i].completed) { %>
                                            <input type="checkbox" checked onclick="toggleCheckbox('<%= tasks[i]._id %>', '<%= tasks[i].list_id %>', 'false')">
                                        <% } else { %>
                                            <input type="checkbox" onclick="toggleCheckbox('<%= tasks[i]._id %>', '<%= tasks[i].list_id %>', 'true')">
                                        <% } %>
                                        <span class="list-group-item-text">
                                            <i class="fa fa-fw"></i>                              
                                            <%= tasks[i].name %>
                                        </span>
                                    </label>
                                </div>
                                <div class="dropdown col-6 col-md-4">
                                    <button type="button" class="btn btn-secondary" id="btn_more_actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                        </svg>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btn_more_actions">
                                        <button type="button" class="dropdown-item" id="btn_edit">Edit item</button>
                                        <button type="button" class="dropdown-item" id="btn_delete" onclick="deleteTask('<%= tasks[i]._id %>', '<%= tasks[i].list_id %>')">Delete item</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>   
            </div>
        </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
        crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="/scripts/task.js"></script>
</html>