<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Lists</title>

        <link rel="apple-touch-icon" href="images/tick-purple-circle.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/style-tasks.css">
    </head>

    <body>
        <%- include ('./partials/navbar') %>
        <div class="container">
        <div class="page-content page-container" id="page-content">
            <h1><%= listData.name %></h1>
            <form role="form" id="form_task" method="POST">
                <div class="input-group mb3">
                    <input type="hidden" id="hidden_list_id" name="list_id" value="<%= listData.id %>"> 
                    <input type="text" name="name" class="form-control" id="input_name" placeholder="Task name" aria-label="Task name">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
 
            <div class="list-group checkbox-list-group" id="tasks"> 
                <% if (tasks && tasks.length > 0) { %>
                    <% for(var i = 0; i < tasks.length; i++) {%>  
                        <div class="list-group-item container">
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <label>
                                        <% if (tasks[i].completed) { %>
                                            <input type="checkbox" class="checked" checked onclick="toggleCheckbox('<%= tasks[i]._id %>', '<%= tasks[i].list_id %>', 'false')">
                                        <% } else { %>
                                            <input type="checkbox" onclick="toggleCheckbox('<%= tasks[i]._id %>', '<%= tasks[i].list_id %>', 'true')">
                                        <% } %>
                                        <span class="list-group-item-text">                            
                                            <%= tasks[i].name %>
                                        </span>
                                    </label>
                                </div>
                                <div class="dropdown col-6 col-md-4">
                                    <button type="button" class="btn btn-primary" id="btn_delete" onclick="deleteTask('<%= tasks[i]._id %>', '<%= tasks[i].list_id %>')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    <% } else { %>
                        <div class="text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                            </svg>
                            <div class="empty-state">
                                <p class="empty-state-heading">Looks like you don't have any tasks</p>
                                <p class="empty-state-description">Add a task using the input box above</p>
                            </div>
                        </div>
                    <% } %>  
            </div>
        </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
        crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="/scripts/task.js"></script>
</html>